<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% result = @test_passage.success? ? t('.success') : t('.failure') %>
<p>Процент правильных ответов:<span class = <%= result %> > <%= @test_passage.correct_answers_percent %>% </span></p>
<p> <%= t('.result') %>: <%= result %> </p>

<%= link_to t('.all_tests') , tests_path %>
