<p><%=t('.year')%>: <%= current_year %> </p>
<p><%=t('.author')%> </p>
<p><%=t('.project_name')%> <%= github_link('NikitaSharipov', 'Test-Guru') %></p>
<p> <%=t('.project')%> <a href="http://thinknetica.com" target="_blank">Thinknetica</a> ! </p>
