<table class="table table-bordered table-hover text-center">
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.author') %></th>
    <th><%= t('.question_count') %></th>
    <th colspan="3"><%= t('.action') %></th>
  </tr>

  <%= render Test.all %>

</table>

<p>
  <%= link_to t('.new_test'), new_admin_test_path, class: "btn btn-info" %>
  <%= link_to t('.gist'), admin_gists_path, class: "btn btn-info" %>
</p>
