<tr>
  <td scope="row"><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= test.author.last_name %></td>
  <td><%= test.questions.size %></td>
  <td><%= test.passage_time %></td>
  <td><%= button_to t('.start'), start_test_path(test), class: "btn btn-outline-primary" %></td>
</tr>
