<table class="table table-bordered table-hover text-center">
  <tr>
    <th scope="col" class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
    <th scope="col"><%= t('.level') %></th>
    <th scope="col"><%= t('.category') %></th>
    <th scope="col"><%= t('.author') %></th>
    <th scope="col"><%= t('.question_count') %></th>
  </tr>

  <%= render Test.all %>

</table>

<p>
  <%= link_to t('Форма обратной связи') , new_feedback_path %>
</p>
