<table>
  <caption><%= t('.header') %></caption>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.author') %></th>
    <th><%= t('.question_count') %></th>
  </tr>

  <%= render Test.all %>

</table>

<p>

</p>
