<table class="table table-bordered table-hover text-center">
  <tr>
    <th scope="col"><%= t('.title') %></th>
    <th scope="col"><%= t('.level') %></th>
    <th scope="col"><%= t('.category') %></th>
    <th scope="col"><%= t('.author') %></th>
    <th scope="col"><%= t('.question_count') %></th>
  </tr>

  <%= render Test.all %>

</table>

<p>

</p>
